body {
  font-size: 3em;
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  margin: auto 0;
  background: #ebebeb;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.title h1 {
  margin-bottom: 0;
  background-color: black;
  background-image: linear-gradient(
    45deg,
    rgb(31, 221, 120),
    rgb(175, 72, 189)
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.title p {
  font-size: 0.8em;
  padding-left: 16px;
  margin: -16 auto 40px auto;
}

.gallery-container {
  width: 100%;
  background-color: white;
  border-radius: 70px;
  padding-top: 10%;
  box-shadow: 1px -7px 28px -8px rgba(41, 171, 12, 0.49);
  -webkit-box-shadow: 1px -7px 28px -8px rgba(41, 171, 12, 0.49);
  -moz-box-shadow: 1px -7px 28px -8px rgba(41, 171, 12, 0.49);
}

.discover {
  margin: auto;
  opacity: 0.5;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}

.column {
  flex: 100%;
  max-width: 100%;
  padding: 0 16px;
}

.img-description {
  font-size: 0.8em;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 2%;
  left: 2%;
}

img {
  vertical-align: middle;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 16px;
}

.img-description p {
  margin: 8px 0;
}
