<div class="container">
  <div class="title">
    <h1>{{title}}</h1>
    <p>by Martin Sjölund</p>
  </div>

  <div class="gallery-container">
    <h4 class="discover">Discover</h4>
    <div class="column">
      {{#each photos}}
        <div style="position: relative">
          <div class="img-description">
            <p>{{this.title}}</p>
          </div>
          <img src="{{this.url}}" />
        </div>

      {{/each}}
    </div>
  </div>

</div>